[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
coinbase-advancedtrade-python = "*"
python-dotenv = "*"
boto3 = "*"
ta = "*"
pandas = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
